* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  box-sizing: border-box; }

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  font-size: 20px;
  font-family: 'Ubuntu', sans-serif; }

.wraper {
  width: 100%;
  height: 100vh;
  position: relative;
  max-width: 1500px;
  max-height: 1000px; }

li {
  list-style: none; }

nav.menu-principal {
  width: 12%;
  height: 100%;
  background: linear-gradient(to right, #13171d, 20.16%, #12171d);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  min-width: 8em;
  position: absolute;
  right: 0; }
  nav.menu-principal div.menu-acesso {
    width: 100%;
    height: 9em;
    box-sizing: content-box; }
    nav.menu-principal div.menu-acesso ul {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex; }
    nav.menu-principal div.menu-acesso li {
      width: 3em;
      height: 3em;
      text-indent: -99999em;
      background-size: 85%;
      background-repeat: no-repeat;
      background-position: center;
      display: block; }
      nav.menu-principal div.menu-acesso li:first-child {
        background-image: url("../icones/home.svg"); }
      nav.menu-principal div.menu-acesso li:last-child {
        background-image: url("../icones/list.svg"); }
      nav.menu-principal div.menu-acesso li:hover {
        cursor: pointer;
        transform: scale(1.2);
        transition: 0.3s ease-in; }
    nav.menu-principal div.menu-acesso:after {
      background: linear-gradient(to right, #1a2027, 30.16%, #29323c);
      content: "";
      display: block;
      width: 100%;
      height: .5em;
      box-shadow: 0em 0.1em 0.3em rgba(0, 0, 0, 0.4); }
  nav.menu-principal div.menu-times {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    width: 100%;
    height: 23em;
    padding-top: 2em; }
    nav.menu-principal div.menu-times ul {
      width: 60%;
      height: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      flex-wrap: wrap;
      max-width: 4.75em; }
    nav.menu-principal div.menu-times li {
      width: 1.8em;
      height: 1.8em;
      text-indent: -99999em;
      background-size: 85%;
      background-repeat: no-repeat;
      background-position: center;
      display: block; }
      nav.menu-principal div.menu-times li:hover {
        cursor: pointer;
        transform: scale(1.2);
        transition: 0.3s ease-in; }

main.home {
  width: 83%;
  height: 100%;
  background: linear-gradient(to right, #1a2027, 30.16%, #29323c);
  padding-right: 8%;
  padding-left: 8%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  min-width: calc(100% - 8em);
  padding-bottom: 2%;
  display: none; }
  main.home header.cabecalho {
    width: 100%;
    height: 7em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex; }
    main.home header.cabecalho div.logo {
      text-indent: -99999em;
      width: 308.33px;
      height: 73.33px;
      background-size: cover;
      background-image: url("../icones/logo.svg"); }
    main.home header.cabecalho div.descricao-catalogo {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      justify-content: space-around;
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      color: rgba(255, 255, 255, 0.5); }
      main.home header.cabecalho div.descricao-catalogo p {
        text-align: right;
        font-size: 1.1em; }
        main.home header.cabecalho div.descricao-catalogo p:first-child {
          font-weight: bold; }
        main.home header.cabecalho div.descricao-catalogo p span {
          font-style: italic; }
  main.home section.destaques {
    width: 100%;
    height: 20em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    background-color: rgba(255, 255, 255, 0.2); }
    main.home section.destaques article {
      width: 33.33%;
      height: 100%;
      opacity: 0.3; }
    main.home section.destaques div.imagem-destaque {
      height: 70%;
      background-size: cover;
      background-position: bottom, right; }
    main.home section.destaques article.voce-decide div.imagem-destaque {
      background-image: url(../imagens/voce-decide.jpg); }
    main.home section.destaques article.camisa-dez div.imagem-destaque {
      background-image: url(../imagens/camisa-dez.jpg); }
    main.home section.destaques article.para-a-ewave div.imagem-destaque {
      background-image: url(../imagens/handshake.jpg); }
    main.home section.destaques div.descricao-destaque {
      background: linear-gradient(to right, #38beef, 77.25%, #3668b0);
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      height: 30%;
      width: 100%;
      position: relative; }
      main.home section.destaques div.descricao-destaque h1 {
        font-size: 1.8em;
        color: white;
        font-weight: normal;
        text-transform: uppercase;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
        margin: 0 auto;
        position: static;
        opacity: 0.4; }
      main.home section.destaques div.descricao-destaque p {
        display: none; }
    main.home section.destaques article.ativo {
      opacity: 1;
      transform: scale(1.15);
      position: relative;
      z-index: 1;
      box-shadow: 0px 8px 14px rgba(0, 0, 0, 0.3);
      transition: .5s;
      cursor: pointer; }
      main.home section.destaques article.ativo div.descricao-destaque {
        background: linear-gradient(to right, #38beef, 77.25%, #3668b0);
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        height: 30%;
        position: relative; }
        main.home section.destaques article.ativo div.descricao-destaque h1 {
          font-size: 1.8em;
          color: white;
          font-weight: normal;
          text-transform: uppercase;
          text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
          padding-left: 4%;
          position: absolute;
          top: -40%;
          opacity: 1; }
        main.home section.destaques article.ativo div.descricao-destaque p {
          font-size: .8em;
          color: white;
          font-weight: lighter;
          line-height: 1.5;
          padding-left: 4%;
          text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
          display: block; }

section.lista-camisas-dez {
  width: 83%;
  height: 100%;
  background: linear-gradient(to right, #1a2027, 30.16%, #29323c);
  padding-right: 8%;
  padding-left: 8%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  min-width: calc(100% - 8em); }
  section.lista-camisas-dez header {
    width: 100%;
    height: 5em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex; }
    section.lista-camisas-dez header div.logo-secundario {
      height: 4.5em;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-between;
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex; }
      section.lista-camisas-dez header div.logo-secundario h2 {
        width: 185px;
        height: 44px;
        text-indent: -99999em;
        background-image: url("../icones/logo.svg");
        background-size: cover; }
      section.lista-camisas-dez header div.logo-secundario .subtitulo {
        font-size: .8em;
        color: rgba(255, 255, 255, 0.2); }
        section.lista-camisas-dez header div.logo-secundario .subtitulo p:first-child {
          font-weight: bold; }
        section.lista-camisas-dez header div.logo-secundario .subtitulo span {
          font-style: italic; }
    section.lista-camisas-dez header h1 {
      font-size: 3em;
      font-weight: lighter;
      text-transform: uppercase;
      color: #38beef;
      width: 13ch;
      text-align: right;
      line-height: 1; }
  section.lista-camisas-dez article.grid-jogadores {
    width: 100%; }
    section.lista-camisas-dez article.grid-jogadores ul {
      display: flex;
      flex-direction: row;
      align-items: space-between;
      justify-content: space-between;
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      flex-wrap: wrap;
      width: 100%; }
    section.lista-camisas-dez article.grid-jogadores li {
      width: 25%;
      height: 7em;
      background-size: cover;
      opacity: 0.1;
      cursor: pointer; }
      section.lista-camisas-dez article.grid-jogadores li p {
        width: 100%;
        position: absolute;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.5);
        display: none;
        text-align: left;
        padding: 0.7em 0 0.7em 2.5em; }
      section.lista-camisas-dez article.grid-jogadores li:hover {
        position: relative;
        z-index: 1;
        opacity: 1;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
        transform: scale(1.2);
        transition: .5s; }
        section.lista-camisas-dez article.grid-jogadores li:hover p {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: space-around;
          display: -webkit-box;
          display: -ms-flexbox;
          display: -webkit-flex;
          display: block; }
        section.lista-camisas-dez article.grid-jogadores li:hover span {
          display: inline-block;
          width: 1.5em;
          height: 1.5em;
          background-size: cover;
          position: absolute;
          bottom: .4em;
          left: .5em;
          z-index: 2; }
    section.lista-camisas-dez article.grid-jogadores p {
      font-size: .9em;
      margin-top: .8em;
      color: #38beef;
      font-weight: lighter;
      text-align: right; }

/*# sourceMappingURL=estilo.css.map */
