* {
     margin: 0;
     padding: 0;
     border: none;
     outline: none;
     box-sizing: border-box;
}

body {
     @include flexbox(column, center, center);
     font-size: 20px; // Definindo o valor de 1em (20px)
     font-family: 'Ubuntu', sans-serif;
     overflow-y: hidden;
}

.wraper {
     @include dimensao(100%, 100vh);
     position: relative;
     max-width: 75em; // 1500px
     max-height: 50em; // 1000px
     top: 0vh;
}

li {
     list-style: none;
}

h2 {
      font-size: 1.5em // 30px
}
